<nav>
  <ul>
    <li class="sidebar-title"><a href="/">Ruby Patterns</a></li>
  </ul>

  <p><strong>General Patterns</strong></p>

  <ul>
    <li><a href="/general/collecting_parameters.html">Collecting Parameters</a></li>
    <li><a href="/general/command.html">Command</a></li>
    <li><a href="/general/null_object.html">Null Object</a></li>
    <li><a href="/general/pluggable_object.html">Pluggable Object</a></li>
    <li><a href="/general/pluggable_selector.html">Pluggable Selector</a></li>
    <li><a href="/general/template_methods.html">Template Methods</a></li>
  </ul>
  
  <p><strong>Testing Patterns</strong></p>

  <ul>
    <li><a href="/testing/crash_test_dummy.html">Crash Test Dummy</a></li>
    <li><a href="/testing/self_shunt.html">Self Shunt</a></li>
  </ul>

  <p>made by <a href="https://jsrn.net">jsrn</a></p>
</nav>
