<nav>
  <p><strong>General Patterns</strong></p>

  <ul>
    <li><a href=/patterns/collecting_parameters.html>Collecting Parameters</a></li>
    <li><a href=/patterns/command.html>Command</a></li>
    <li><a href=/patterns/null_object.html>Null Object</a></li>
    <li><a href=/patterns/pluggable_object.html>Pluggable Object</a></li>
    <li><a href=/patterns/pluggable_selector.html>Pluggable Selector</a></li>
    <li><a href=/patterns/template_methods.html>Template Methods</a></li>
  </ul>
  
  <p><strong>Testing Patterns</strong></p>

  <ul>
    <li><a href="/patterns/crash_test_dummy.html">Crash Test Dummy</a></li>
    <li><a href="/patterns/self_shunt.html">Self Shunt</a></li>
  </ul>
</nav>
