<nav>
  <ul>
    <li class="sidebar-title"><a href="/">Ruby Patterns</a></li>
  </ul>

  <p><strong>General Patterns</strong></p>

  <ul>
    <li><a href="/general/collecting_parameters.html#main">Collecting Parameter</a></li>
    <li><a href="/general/null_object.html#main">Null Object</a></li>
    <li><a href="/general/pluggable_object.html#main">Pluggable Object</a></li>
    <li><a href="/general/pluggable_selector.html#main">Pluggable Selector</a></li>
  </ul>

  <p><strong>Behavioural Patterns</strong></p>

  <ul>
    <li><a href="/general/command.html#main">Command</a></li>
    <li><a href="/general/double_dispatch.html#main">Double Dispatch</a></li>
    <li><a href="/general/template_methods.html#main">Template Method</a></li>
  </ul>

  <p><strong>Structural Patterns</strong></p>

  <ul>
    <li><a href="/general/composite.html#main">Composite</a></li>
  </ul>

  <p><strong>Testing Patterns</strong></p>

  <ul>
    <li><a href="/testing/crash_test_dummy.html#main">Crash Test Dummy</a></li>
    <li><a href="/testing/self_shunt.html#main">Self Shunt</a></li>
  </ul>

  <p>notes by <a href="https://jsrn.net">jsrn</a>. please send any comments or feedback to <a href="mailto:jsrn@hey.com">jsrn@hey.com</a></p>
</nav>
