<nav>
  <p><strong>General Patterns</strong></p>

  <ul>
    <li><a href="/patterns/general/collecting_parameters.html">Collecting Parameters</a></li>
    <li><a href="/patterns/general/command.html">Command</a></li>
    <li><a href="/patterns/general/null_object.html">Null Object</a></li>
    <li><a href="/patterns/general/pluggable_object.html">Pluggable Object</a></li>
    <li><a href="/patterns/general/pluggable_selector.html">Pluggable Selector</a></li>
    <li><a href="/patterns/general/template_methods.html">Template Methods</a></li>
  </ul>
  
  <p><strong>Testing Patterns</strong></p>

  <ul>
    <li><a href="/patterns/testing/crash_test_dummy.html">Crash Test Dummy</a></li>
    <li><a href="/patterns/testing/self_shunt.html">Self Shunt</a></li>
  </ul>
</nav>
