---
title: Ruby Patterns
---

<h1>Ruby Patterns</h1>

<blockquote source="Pattern Recognition by William Gibson">
Homo sapiens is about pattern recognition, he says. Both a gift and a trap.
<cite>Pattern Recognition, William Gibson</cite>
</blockquote>

<p>Welcome to Ruby Patterns! A small library of design and testing patterns for Ruby programmers.</p>

<p>If you have any feedback, or just want to say hi, I'm on Twitter at <a href="https://twitter.com/jsrndoftime">@jsrndoftime</a>.</p>
